@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
/* font-family: "Poppins", sans-serif;
font-family: "Raleway", sans-serif;
font-family: "Roboto Mono", monospace;
font-family: "Work Sans", sans-serif; */

:root {
  --color-primary: white;
  --color-secondary: rgb(0, 0, 0);
  --color-heading: rgb(0, 130, 130);
  --color-heading-secondary: purple;
  --transiton-hover-duration: all 0.5s;
  --sm-device-margin: 0 15px;
  --sm-device-padding: 0 15px;
  --box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.422);
}

html body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: #171614;
  font-weight: 500;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body h1 {
  font-weight: 900;
  font-size: 40px;
}

body h2 {
  font-family: "Roboto Mono", monospace;
  font-size: 30px;
  font-weight: 700;
}

/* Header Here  */
header {
  color: var(--color-primary);
  background-color: var(--color-secondary);
}
nav {
  padding: var(--sm-device-padding);
  display: flex;
  justify-content: space-between;
}

.header-icons-container {
  display: flex;
  gap: 2rem;
  margin-top: auto;
  margin-bottom: auto;
}
body header .brand-name {
  all: unset;
  font-size: 30px;
}

/* hero  */

.hero {
  background-color: var(--color-secondary);

  background: rgb(255, 132, 0);
  background: radial-gradient(
    circle,
    rgb(255, 123, 0) 0%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 1) 70%
  );
  /* background-image: url("../images/header/bg-texture.png"); */
  /* backface-visibility: hidden; */
  background-blend-mode: overlay;
}

.hero-row {
  position: relative;
}
.carousel-slide {
  max-width: 100%;
  /* margin-left: 5rem; */
  /* margin-right: auto; */
}

.hero-carousel img {
  max-width: 100%;
}

.btn-carousel-arrow {
  /* max-width: 90%; */
}

.hero-icons {
  list-style: none;
  cursor: pointer;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.hero-icons a {
  cursor: pointer;
}

.collections-container {
  font-weight: 200;
  color: #f0ede6;
  opacity: 40%;
  text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.424);
}

.carousel-now-text {
  display: none;
  /* position: relative; */
}
.elegant-text-box {
  display: none;
}
.there-are-text {
  display: none;
}
.jacket-text,
.fashion-design-text,
.round-text-wrap {
  display: none;
}

.elegant-text-box-2 {
  display: none;
  font-size: 3rem;
  color: white;
  /* margin-left: 20%; */
}

.overlapping-elements {
  text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.424);
}

/* swati's css code here */
.wear-amazon{
  display: none;
}
.wear-amazon-small-screen {
  /* background-color: black; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wear-amazon-text{
  text-decoration: none;
  color: #F0EDE6;
  padding-top: 50%;
}

.wear-amazon-gap{
  padding-top: 30%;
  padding-right: 30%;
}
#shop-now-button {
  color: #ba4242;
  padding-right: 10%;
}
.new-arrival-small-screen{
  padding: 20%;
  color: #F0EDE6;
}
.island-capsule{
  display: none;
}
.island-capsule-small-screen{
  display: flex;
  flex-direction: column;
  /* background-color: black; */
}
/* swati's css code ends here */

@media (min-width: 1024px) {
  .btn-carousel-arrow {
    width: 100%;
  }
  .hero-carousel img {
    max-width: 70%;
  }
  .carousel-slide {
    margin-left: 6rem;
  }
  .hero-icons {
    flex-direction: column;
    margin-top: -34vw;
    margin-bottom: 23vw;
  }

  .carousel-now-text {
    opacity: 20%;
    color: white;
    margin-left: 60%;
    margin-bottom: -20%;
    display: inline-block;
    left: 70%;
    top: 0px;
    font-size: 200px;
  }
  .elegant-text-box {
    display: none;
    position: absolute;
    z-index: 1;
    /* opacity: 20%; */
    color: white;
    display: inline-block;
    top: 42%;
    left: 10%;
    padding-bottom: 10%;
    font-size: 40px;
    background-image: url("../images/header/elegant-text-bg.svg");
    background-size: 25%;
    background-repeat: no-repeat;
  }
  .there-are-text {
    opacity: 40%;
    position: absolute;
    display: inline;
    color: white;
    top: 75%;
    right: 32%;
  }
  .jacket-text {
    opacity: 70%;
    display: inline;
    position: absolute;
    color: white;
    top: 70%;
    left: 23%;
  }
  .fashion-design-text {
    display: inline;
    position: absolute;
    color: white;
    top: 12%;
    left: 10%;
  }
  .round-text-wrap {
    display: block;
    position: absolute;
    right: 36%;
  }
  .shop-now{
    padding-top: 20%;
    padding-left: 40%;
}
#shop-now-button {
    color: #DF4949;
    padding-right: 10%;
}
/* swati's code here */
.wear-amazon {
    /* background-color: black; */
    display: flex;
}
.wear-amazon-text {
    font-size: 65px;
    font-weight: 500;
    padding-right: 100px;
}
.starImage {
    padding-left: 700%;
}
.new-arrival-text {
    font-size: 25px;
    font-weight: 400;
    padding-bottom: 261px;
}
.wear-amazon-small-screen{
    display: none;
}
.island-capsule{
    /* background-color: black; */
    display: flex;
}
.island-capsule-text {
    font-size: 65px;
    font-weight: 700;
    color: #F0EDE6;
}
.cooler-text{
    padding-top: 10%;
    padding-bottom: 70%;
    font-size: 25px;
    font-weight: 700;
    color: #F0EDE6;
}
.white-crop-top{
    padding-top: 90%;
}
.island-capsule{
    display: flex;
}
.island-capsule-small-screen {
    display: none;
}
.figure {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  .figure:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  .star{
    margin-left: -5%;
    margin-top: -29%;
  }
  a {
    overflow: hidden;
    position: relative;
  }
  
  a::before,
  a::after {
   content: '';
    position: absolute;
    width: 100%;
    left: 0;
  }
  a::before {
    background-color: #54b3d6;
    height: 2px;
    bottom: -15px;
    transform-origin: 100% 50%;
    transform: scaleX(0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
  }
  a::after {
    content: attr(data-replace);
    top: 0;
    transform-origin: 100% 50%;
    transform: translate3d(200%, 0, 0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
    color: #54b3d6;
  }
  
  a:hover::before {
    transform-origin: 0% 50%;
    transform: scaleX(1);
  }
  a:hover::after {
    transform: translate3d(0, 0, 0);
  }
  
  a span {
    display: inline-block;
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
  }
  
  a:hover span {
    transform: translate3d(-50%, 0, 0);
  }
  
  a {
    text-decoration: none;
    color: #ba4242;
    font-weight: 700;
  }
  /* swati's code ends here */


}

@media (min-width: 1400px) {
  .hero-icons {
    margin-top: -34vw;
    margin-bottom: 23vw;
  }

  .carousel-now-text {
    left: 70%;
    top: 0px;
  }
  .elegant-text-box {
    top: 35%;
    left: 14%;
    background-size: 20rem;
  }
  .there-are-text {
    top: 76%;
    right: 40%;
  }
  .jacket-text {
    top: 71%;
    left: 22%;
  }
  .fashion-design-text {
    top: 12%;
    left: 15%;
  }
  .round-text-wrap {
    display: block;
    position: absolute;
    right: 39%;
  }
}

@media (min-width: 1600px) {
  .hero-icons {
    margin-top: -25vw;
    margin-bottom: 20vw;
  }
}

@media (min-width: 1700px) {
  .elegant-text-box {
    top: 35%;
    left: 20%;
  }
  .fashion-design-text {
    top: 12%;
    left: 22%;
  }
  .jacket-text {
    top: 69%;
    left: 28%;
  }
}

@media (min-width: 1920px) {
  .elegant-text-box {
    top: 35%;
    left: 20%;
  }
  .fashion-design-text {
    top: 12%;
    left: 23.5%;
  }
  .jacket-text {
    top: 69%;
    left: 32%;
  }
  .there-are-text {
    top: 76%;
    right: 40%;
  }
  .elegant-text-box {
    top: 35%;
    left: 23%;
  }
}
/* Joy ending */


:root {
  --mobile-margin :0rem 0.938rem 0rem 0.938rem;
  --bestseller-font-color1 : #F0EDE6;
  --bestseller-font-color2 : #888785;
  --bestseller-font-color3 : #DF4949;
  --mobile-card-title-size1 : 1.2rem;
  --mobile-card-title-size2 : .7rem;
  --mobile-card-title-size3 : 1.1rem;
  --font-weight1 : 400;
  --font-weight2 : 500;
}

.bestseller {
  background-image: url(../images/bestsellers/Ellipse1.svg);
  background-size: contain;
  /* background-image: url(../images/bestsellers/Gradient1.png); */
  flex-direction: column;
}
/* .bestseller>img {
  mix-blend-mode: overlay;
  opacity: 0.3
} */
.bestseller-heading {
  font-weight: var(--font-weight2);
  font-size: 2rem;
  color: var(--bestseller-font-color1);
  text-align: center;
  /* margin: var(--mobile-margin); */
}
.bestseller-heading img {
  position: absolute;
  left: 90%;
  top: -1%;
}
.swiper-wrapper {
  margin-top: 2rem;
}
.bestseller-card1 {
  margin-top: 2rem;
  max-width: 85%;
  /* align-items: center; */
  
}
.bestseller-card1 img{
  max-width: 70%;
  z-index: 1;
  /* align-items: center; */
}
.bestseller-card2 img {
  max-width: 95%;
}
.bestseller-card1-title {
  font-weight: var(--font-weight1);
  font-size: var(--mobile-card-title-size1);
  color: var(--bestseller-font-color1);
}
.bestseller-card1-details {
  font-weight: var(--font-weight1);
  color: var(--bestseller-font-color2);
  font-size: var(--mobile-card-title-size2);
  line-height: 1.2rem;
}
.card-details {
  max-width: 80%;
}
.bestseller-card1-price {
  justify-content: space-between;
}
.bestseller-card1-price .price {
  color : var(--bestseller-font-color3);
  font-weight: var(--font-weight2);
  font-size: var(--mobile-card-title-size3);
  /* display: inline-block; */
}
.bestseller-card1-price .date {
  font-size: var(--mobile-card-title-size3);
  /* display: inline-block; */
}
.card2-title{
  position: absolute;
  max-width: 70%;
  background: #171614;
  margin-top: -3.6rem;
  z-index: 50;
}
.bestseller-button {
  margin-top: 3rem;
  margin-bottom: 3rem;
  color: var(--bestseller-font-color1);
}
/* .bestseller-button-left span, .bestseller-button-right span {
  max-width: 10%;
} */
.bestseller-button-left a, .bestseller-button-right a{
  padding: 0.9rem 1.2rem 0.9rem 1.2rem;
  border: 1px solid var(--bestseller-font-color3);
  border-radius: 50%;
  color: var(--bestseller-font-color3);
  text-decoration: none;
}

.aesthetic {  
  /* background-image: url(../images/aesthetic-lothes/Gradient.png); */
  background-image: url(../images/aesthetic-lothes/Ellipse2.svg);
  background-size: cover;
  flex-direction: column;
  margin: var(--mobile-margin);
}
.aesthetic-image {
  flex-direction: column;
  justify-content: center;
}
.aesthetic-image img {
  max-width: 100%;
}
.aesthetic-content {
  flex-direction: column;
  margin-top: 1rem;
}
.aesthetic-content-text2 {
  font-weight: var(--font-weight1);
  font-size: var(--mobile-card-title-size1);
  line-height: 1.5rem;
  color: var(--bestseller-font-color3);
}
.aesthetic-content-text2 a {
  padding:.22rem .5rem .22rem .5rem;
  border: 1px solid var(--bestseller-font-color2);
  color: var(--bestseller-font-color1);
}

/* Rahul end */

/* Ritu starts */
.top-curved {
  max-width: 100%;
  border-top-left-radius: 50% 35%;
  border-top-right-radius: 50% 35%;
}

.circle:hover {
  border:1px solid #888785;
  border-radius: 100%;
}

.follow {
  position: relative;
}

#follow {
  display: flex;
  overflow-x: scroll;
}

#follow img { 
  padding: 2rem 1rem;
}
/* Ritu ends */

/* Ritesh Starts */
